---
import Separator from "./Separator.astro";
const {
  name,
  textClass,
  hue,
  titleTop = 0,
  shapeTop = 0,
  spaceBottom = 0,
  path = null,
} = Astro.props;
const color = `oklch(85% 0.18 ${hue})`;
---

<div class="relative">
  <Separator adjustTop={shapeTop} path={path} hue={hue} />
  <div style={{ backgroundColor: color, paddingBottom: `${100 + spaceBottom}px` }}>
    <div class="relative" style={{ top: `${-20 - titleTop}px` }}>
      <div class="sm:max-w-screen-md mx-auto p-4">
        <div
          class:list={[
            "tracking-wider text-white font-serif text-center md:text-left",
            { "text-6xl": name.length < 20, "text-5xl": name.length >= 20 },
          ]}
          style={{ textShadow: "0 1px 0 #0002" }}
        >
          <span class:list={[textClass, "inline-block"]}>{name}</span>
        </div>
      </div>
      <div class="text-xl text-black/60 relative mt-4">
        <div class="sm:max-w-screen-lg mx-auto p-4">
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
